@import "tailwindcss";

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-background: var(--card-background);
  --color-nav-item: var(--nav-item);
  --color-primary: var(--text-primary);
  --color-movie-card: var(--movie-card);
  --color-login-card: var(--login-card);
  --color-primary: rgb(var(--text-primary));
  --color-bookmarked-background: var(--bookmarked-background);
}

:root {
  --radius: 0.625rem;
  --background: rgba(16, 20, 30);
  --foreground: #fc4747;
  --card-background: #161d2f;
  --nav-item: #5a698f;
  --text-primary: 255 255 255; /* raw rgb channels */
  --movie-card: rgb(var(--text-primary) / 0.75);
  --login-card: rgb(var(--text-primary) / 0.5);
  --bookmarked-background: rgba(16, 20, 30, 0.5);
}

/* --- The Fading Scrollbar Trick --- */

@layer utilities {
  /* For WebKit-based browsers (Chrome, Safari, Edge) */
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.5);
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: rgba(136, 136, 136, 0.7);
  }

  /* For Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #777 transparent;
  }
}
